# Environnement virtuel
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db